body {
    background-image: url(../img/micbg.PNG) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-attachment: fixed !important;
    width: 100% !important;
}

.push-10 {
    margin-top: 10px;
}

.push-20 {
    margin-top: 20px;
}

.push-50 {
    margin-top: 50px;
}

.underline_on_hover:hover {
    text-decoration: underline;
    cursor: pointer;
}

.thick.text {
    font-weight: 600;
}

.link_text {
    color: rgb(0, 103, 184);
    cursor: pointer;
}

.link_text:hover {
    text-decoration: underline;
}

.black {
    color: #000;
}

.jara.button {
    padding-left: 50px !important;
    padding-right: 50px !important;
    border-radius: 0px !important;
}

.push-5 {
    margin-top: 5px;
}


